<!DOCTYPE html>
<html>
<head>
    <title>{{ restaurant.name }}</title>
</head>
<body>
    <h1>{{ restaurant.name }}</h1>
    <p>{{ restaurant.beschreibung }}</p>
    <p>{{ restaurant.adresse }}</p>
    <p>{{ restaurant.telefon_nummer }}</p>
    <p>{{ restaurant.email }}</p>
    <p>{{ restaurant.website }}</p>
    <p>{{ restaurant.öffnungszeiten }}</p>
    
   

    <!-- Button zum Anlegen einer Reservierung oder eine Bewertung -->
    <a href="{% url 'create-reservation' restaurant.pk %}">Reservierung anlegen</a>
    <a href="{% url 'create-bewertung' restaurant.pk %}">Bewertung abgeben</a>
    <a href="{% url 'restaurant-list' %}">Zurück zur Übersicht</a>
    <div class="bewertungen-section">
        <h2>Bewertungen</h2>
        <div id="bewertungen-container">
            {% for bewertung in bewertungen %}
                <div>
                    <strong>{{ bewertung.bewertung }} Sterne</strong>
                    <p>{{ bewertung.kommentar }}</p>
                    <small>{{ bewertung.created_at }}</small>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'restaurant-bewertungen' restaurant.pk %}">Alle Bewertungen anzeigen</a>
    </div>
    
</div>
</body>
</html>
